
html {
    font-size: 20px;
    scroll-behavior: smooth !important;
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        padding: 0 !important;
        position: relative;
        opacity: 1 !important;
        box-sizing: border-box;
        *, *:before, *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        input, button, textarea {
            font-family: inherit;
          }
        img {
            max-width: 100%;
            height: auto;
        }
        input::-ms-clear {
            display: none;
          }
        a:focus, a:active {
            outline: none;
        }
        :focus, :active {
            outline: none;
        }
        a, a:visited, [type=button], [type=reset], [type=submit], button {
            -webkit-transition: all 0.3s ease !important;
            -ms-transition: all 0.3s ease !important;
            transition: all 0.3s ease !important;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Gotham', sans-serif;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none !important;
            }
        }
        .container-default {
            max-width: 1167px;
        }
    }
}